.dataTables_wrapper {
    font-size: 0.85rem;
}

.format-download {
    text-decoration: none !important;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    padding-right: 7px;
    padding-left: 7px;
    font-style: normal;
    font-size: 0.7rem;
}

.cp-btn {
    border: none;
    background: white;
}

.toggle {
    --width: 100px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: 	#ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: rgb(255, 255, 255);
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: var(--bs-font-sans-serif);
    transition: all 0.4s ease-in-out;
  }

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 10px;
    bottom: 14px;
    color: rgb(87, 87, 87);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 10px;
    bottom: 14px;
    color: rgb(87, 87, 87);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

.btn-primary {
  background-color: aqua;

}