{% extends "base.html" %}

{% block og %}
<meta property="og:url" content="https://{{ base_path }}/lncHUB2"/>
<meta property="og:title" content="lncHUB2: Predicted biological functions for long non-coding RNAs based on co-expression"/>
<meta property="og:description"
      content="Based on gene-gene co-expression correlations created from ARCHS4's processed RNA-seq samples, we present 18,705 landing pages for long non-coding RNAs"/>
{% endblock %}
{% block head %}
<title>lncHUB2</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>{{ error }}</p>
        </div>
    </div>
</div>
{% endblock %}
