{% extends "base.html" %}

{% block og %}
<meta property="og:url" content="https://{{ base_path }}/lncHUB2"/>
<meta property="og:description"
      content="Functional predictions of human long non-coding RNAs based on lncRNA-gene co-expression correlations."/>
{% endblock %}
{% block head %}
<title>lncHUB2: Predicted biological functions for long non-coding RNAs based on co-expression</title>
{% endblock %}

{% block body %}
<div class="container">
    <!--  Header  -->
    <div class="row mt-5 justify-content-center">
        <img class="img-fluid mx-2" style="width: 60px;" src="{{ url_for('static', filename='logo.png') }}"
             alt="lncRNA logo">
        <h2 class="display-5">lncHUB2</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-7">
            <p style="font-weight: 200; font-size: 1.6rem; line-height: 1.3;" class="text-center">Functional predictions of human long
                non-coding RNAs based on lncRNA-gene co-expression correlations.</p>
        </div>
    </div>
    <!--  Header  -->
    <!-- Search -->
    <div class="row justify-content-center my-5">
        <div class="col-8">
            <p>A long non-coding RNA (lncRNA) is a transcript with more than 200 nucleotides that is not translated into
                protein. Based on gene-gene co-expression correlations created from Recount3's processed RNA-seq
                samples, we present 15,862 landing pages for long non-coding RNAs that include median expression across
                tissues and cell lines, predicted biological functions, pathway membership, and predicted small
                molecules that may regulate their expression.</p>
            <div class="input-group mt-4 mb-2">
                <input id="search" type="text" class="form-control" placeholder="Input a gene symbol or an Ensembl ID"
                       aria-label="lncRNA"
                       aria-describedby="search-button"/>
                <button class="btn btn-outline-secondary" type="button" id="search-button"
                        onclick="search($('#search').val())">Search
                </button>
            </div>
            <p class="small text-muted">For example <a href="#" onclick="example('HOTAIR');">HOTAIR</a>, <a href="#" onclick="example('MALAT1');">MALAT1</a>, <a href="#" onclick="example('NEAT1');">NEAT1</a></p>
        </div>
    </div>
    <!-- Search -->
    <!-- Results -->
    <div id="results" class="row justify-content-center my-3">
        <p id="results__not-in-db" style="font-style: italic; display: none;"></p>
        <div id="results__appyter-card" class="col card m-2" style="display: none;">
            <div class="card-body">
                <iframe id="results__appyter-iframe" style="width: 100%; height: 5500px; border: none"></iframe>
            </div>
        </div>
    </div>
    <!-- Results -->
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="row justify-content-center m-5">
            <div class="col-md-2 col-sm text-center">
                <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank" rel="noreferrer">
                    <img
                            class="rounded"
                            src="{{ url_for('static', filename='icahn_cb_logo.png') }}"
                            style="height: 5rem"
                            alt="Icahn School of Medicine at Mount Sinai Center of Bioinformatics logo"
                    />
                </a>
            </div>

            <div class="col-md-2 col-sm text-center">
                <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank" rel="noreferrer">
                    <img
                            class="rounded"
                            src="{{ url_for('static', filename='maayanlab_logo.png') }}"
                            style="height: 5rem"
                            alt="Ma'ayan lab logo"
                    />
                </a>
            </div>
            <div class="col-md-2 col-sm">
                <div class="row my-2 ml-2">
                    <!-- Twitted share button -->
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                       data-text="lncHUB2: Predicted biological functions for long non-coding RNAs based on co-expression"
                       data-url="https://{{ base_path }}/lncHUB2" data-via="MaayanLab"
                       data-hashtags="lncRNA, long non-coding RNA"
                       data-show-count="false">Tweet</a>
                </div>
                <div class="row my-2 ml-2">
                    <!-- LinkedIn share button -->
                    <script type="IN/Share" data-url="https://{{ base_path }}/lncHUB2"></script>
                </div>
                <!-- Facebook share button -->
                <div class="row my-2 ml-2">
                    <div class="fb-share-button" data-href="https://{{ base_path }}/lncHUB2"
                         data-layout="button" data-size="small">
                        <div class="fb-share-button" data-href="https://{{ base_path }}/lncHUB2" data-layout="button"
                             data-size="small">
                            <a target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ base_path }}%lncHUB2&amp;src=sdkpreparse"
                               class="fb-xfbml-parse-ignore">Share</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
